body {
	background:#000;
	color:#fff;
	font:13px/18px Tahoma;
	margin:0 auto;
	padding:0;
	position:relative;
}
/**************************************************** GLOBAL STYLES ****/
.clear{ display:block; clear:both; }
h1{ font-size:28px;}
h2{ font-size:26px;}
h3{ font-size:18px;}
h4{ font-size:16px;}
h5{ font-size:14px;}
h6{ font-size:12px;}
h1,h2,h3,h4,h5,h6{ color:#563D64;}
small{ font-size:10px;}
b, strong{ font-weight:bold;}
a{ color:#D81F80;}
a:hover{ color:#563D64; }
p{ padding:0px; line-height:22px;}
.left { float:left; }
.right { float:right; }
/* =================================
			CONTAINER
==================================== */
#container { background:#000 url(images/bg2.jpg) repeat-y; margin:0 auto; padding-bottom:45px; position:relative; width:760px; } /* width and background changed */
#container2 { background:#000 url(images/bg.jpg) repeat-y; margin:0 auto; padding-bottom:45px; position:relative; width:520px; } /* Added */
h1 { margin:0 auto; padding:14px 0 0 0; width:668px; } /* Padding Changed */
h1 a { background:url(images/logo2.png) no-repeat; display:block; height:54px; margin-left:0px; text-indent:-9999px; width:211px; } /* Background image changed */
/* =================================
				TOP
==================================== */
#top { background:#1a1861; height:35px; margin: 0 auto; font-family: "Helvetica Condensed",Arial,Helvetica,Sans-Serif; width: 760px;}
#top p { font-size:12px; padding:6px 0 6px 15px; }
#top a { color:#fff; margin:0 10px 0 0; text-decoration:none; text-transform:uppercase; }
/* =================================
				MAIN CONTENT
==================================== */
#mainContent { background:#000; margin:0 auto; position:relative; width:668px; } /* Width Changed */
#container2 #mainContent { background:#000; margin:0 auto; position:relative; width:480px;} /* Added */
h2 { background:url(images/bot-or-not.jpg) no-repeat; display:block; height:81px; margin:30px 0 0 0px; text-indent:-9999px; width:512px; } /* width and height changed */
#container2 h2 { background:url(images/bot-or-not-2.jpg) no-repeat; display:block; height:54px; margin:30px 0 0 5px; text-indent:-9999px; width:370px; } /* Added */
h2.tagInner { background:url(images/facebook-friendship.jpg) no-repeat; display:block; height:51px; margin:30px 0 0 5px; width:457px; }
h2.congrats { background:url(images/congrat.jpg) no-repeat; margin-bottom: 30px; display:block; height:68px; width:644px; } /* width height changed, margin added */
h2.notBot { background:url(images/itsNotBot-butYouAre.jpg) no-repeat; display:block; height:40px; width:457px; }
.badges { background:url(images/badge.jpg) no-repeat; display:block; height:96px; margin:25px 32px 0 0; text-indent:-9999px; width:96px; }
.round { background:url(images/play-n-win.png) no-repeat; display:block; height:89px; margin:25px 30px 0 0; text-indent:-9999px; width:89px; } /* width and height changed */
#container2 .round { background:url(images/play-n-win2.png) no-repeat; display:block; height:63px; margin:25px 20px 0 0; text-indent:-9999px; width:63px;} /* Added */
#mainContent p { font: 12pt/21px tahoma; margin:23px auto 0 40px; width:575px; }
#container2 #mainContent p {font: 13px/21px tahoma; margin:23px auto 0 20px; width:460px;}
#mainContent p.text { font:normal 11px/21px Tahoma; margin:23px auto 0 35px; width:403px; }
#mainContent p.text a { color:#07a6da; display:block; }
#mainContent p.text a.inline { color:#ffc821; display:inline; } /*added*/
#mainContent p.title { color:#fccd06; font:bold 16px Arial; margin-bottom:35px; text-transform:uppercase; }
#mainContent p.title span { color:#fff; font:bold 16px Arial; text-transform:none; }
#mainContent img { display:block; margin:0 auto; padding-right: 20px;}
#mainContent .left img { margin:35px 20px 0 28px; }
#mainContent .left img.small { margin:5px 20px 0 28px; }
.bot { margin:0; position:absolute; top:302px; right:0; } /* Margin and top changed */
#mainContent a.playBtn { background:url(images/play-btn.png) no-repeat; bottom:505px; height:100px; position:absolute; right:206px; text-indent:-9999px; width:230px; } /* bottom and right changed */
#container2 #mainContent a.playBtn {background:url(images/play-btn2.png) no-repeat; bottom:550px; height:100px; position:absolute; right:100px; text-indent:-9999px; width:230px; top: 340px} /* Added */
#mainContent a.invite { background:url(images/invite-friends.png) no-repeat; display:block; height:28px; margin:35px auto 0; text-indent:-9999px; width:254px; }
.titleBar { background:url(images/this-week-bot-prize.png) no-repeat; height:37px; text-indent:-9999px; width:383px; }
.redeemiPad { background:#e30065; margin:35px 0 130px 35px; padding:8px 0; text-align:center; text-transform:uppercase; width:226px; }
.redeemiPad a { color:#fff; font:bold 18px Arial; text-decoration:none; }
.desc { margin:90px 0 0; }
#mainContent .desc p { margin:0; padding:0; width:600px; }
/* =================================
				POPUP
==================================== */
.popupContainer { background:#525252; bottom:300px; height:150px; padding:10px; position:absolute; right:30px; width:390px; z-index:1; -moz-border-radius:8px; }
.popup { background:#fff; border:10px solid #525252; bottom:510px; height:160px; padding:10px; position:absolute; right:55px; width:340px; -moz-border-radius:8px; z-index:1; }
.popupInvite { background:#fff; height:150px; position:absolute; width:390px; z-index:1; }
.popupInvite h2 { background:#d4d4d4; height:39px; margin:0; text-indent:inherit; width:390px; }
.popupInvite h2 span { color:#3f5a8f; display:block; font:bold 13px Arial; padding:13px 30px; }
.popupContent { margin:15px 30px; padding:0; }
#mainContent .popupContent img { margin:0 10px 0 0; }
.popupInvite h3 { color:#3f5a8f; font:bold 14px Arial; }
.popup h3 { color:#3f5a8f; font:bold 15px Arial; margin:30px 0 0 40px; }
#mainContent .popup p { color:#5f5f5f; font:bold 12px/18px Arial; margin:0 0 0 40px; width:290px; }
#mainContent .popupInvite p { color:#5f5f5f; display:block; font:normal 10px/18px Helvetica; margin:0; width:256px; }
.popup a { background:url(images/close.png) no-repeat; display:block; height:26px; margin:17px 0 0 0; text-indent:-9999px; width:49px; }
.popupInvite a { background:url(images/send.jpg) no-repeat; clear:both; display:block; height:21px; margin:0 7px 0 0; text-indent:-9999px; width:45px; }
/* =================================
				FORM
==================================== */
#form { margin:0 0 0 30px; padding:20px 0 0 0; width:490px; height: 389px } /* Height added */
label { font:normal 12px Tahoma; }
#form input, select { background:#000; border:1px solid #fff; color:#fff; display:block; font:normal 12px Tahoma; margin:0 10px 0 0; padding:5px 0 5px 3px; }
#form .name { width:220px; }
#form .street { width:330px; }
#form .apt { width:110px; }
#form .city { width:280px; }
#form .zip { width:104px; }
#form div { float:left; margin:0 0 15px 0; }
#submit { clear:both; }
#submit input { background:#e30065; border:none; font:bold 16px Futura; margin:10px 0 0 0; padding:7px 7px 4px 7px; text-transform:uppercase; cursor: pointer; }
/* =================================
				FOOTER
==================================== */
#footer p { font:normal 10px Helvetica; margin:53px auto 0 auto; text-align:center; }
#btm { background:url(images/footer-bg.png) repeat-y; height:12px; margin:13px 0 0 0; }

/* Added by Pupung Budi Purnama to complete itsnotbot.html and itsbot.html */
#mainContent a.youLose {
background: url("images/itsnotbot-youlose.png") no-repeat scroll 0 0 transparent;
display: block;
height: 74px;
margin-left: 130px;
margin-top: 150px;
position: absolute;
text-indent: -7777px;
width: 401px;
z-index: 10;
}
#mainContent a.redeem-insole {
background: url("images/redeem-gelinsoles.png") no-repeat scroll 0 0 transparent;
display: block;
height: 28px;
margin: 90px auto 0;
position: relative;
text-indent: -9999px;
width: 373px;
z-index: 20;
}
#mainContent p.title a {
color: #FCCD06;
font: bold 16px Arial;
margin-bottom: 35px;
position: relative;
text-decoration: none;
text-transform: uppercase;
z-index: 20;
}
#mainContent a.youWin {
background: url("images/itsbot-youwin.png") no-repeat scroll 0 0 transparent;
display: block;
height: 90px;
margin-left: 50px;
margin-top: 140px;
position: absolute;
text-indent: -7777px;
width: 553px;
z-index: 10;
}
#mainContent a.redeem {
background: url("images/redeem.png") no-repeat scroll 0 0 transparent;
display: block;
height: 28px;
margin: 127px auto 0;
text-indent: -9999px;
width: 285px;
position: relative;
z-index: 30;
}
#mainContent .content-rule p {
	font-size: 11px;
	line-height: 14px;
}
.bot-win {
	top: 195px;
	margin-right: 223px;
}


/* =================================
Viva Additions
==================================== */
h2.congrats_not { background:url(images/youstillwon-title.png) no-repeat; margin-bottom: 30px; display:block; height:68px; width:644px; } /* width height changed, margin added */

#redeemContainer {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	text-align: center;
}
#clickToRedeem {
	width: 160px;
	height: 30px;
	line-height: 30px;
	padding: 1px;
	margin: 0;
	position: relative;
	top: 450px;
	left: 215px;
}

#clickToRedeem a {
 font-size: 16px;
 font-weight: bold;
 color: #ffffff;
 text-decoration: none;
}
